/**
 *
 * Main file
 *
 * ---------------------
 * # Settings
 * # Tools
 * # Generic
 * # Base
 * # Objects
 * # Components
 * # Trumps
 * ---------------------
 */

/* --- Settings ------- */
@import 'settings/settings';
/* --- Tools ---------- */
@import 'tools/tools';
/* --- Generic -------- */
@import 'generic/generic';
/* --- Base ----------- */
@import 'base/base';
/* --- Objects -------- */
@import 'objects/objects';
/* --- Components ----- */
@import 'components/components';
/* --- Trumps --------- */
@import 'trumps/trumps';

.main {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quark {
    height: 80vh;
  }
  .footer {
    height: 10vh;
    flex-direction: column;
  }
}
